
html {
	background-color: rgba(234, 82, 7, 0.1);/* rgba(0, 0, 0, 0.5); */
	margin: auto;
	padding: 5%;
}

body {
	margin: auto; /* Center element */
	width: 70%;
	text-align: center;
	padding: 15px;
	background-color: rgba(0, 0, 0, 1);
	box-shadow: 0 0 2px white, 
				0 0 10px rgba(15, 184, 0, 0.7), 
				0 0 20px rgba(235, 164, 0, 0.5),
				0 0 20px black;
	/*
	border-style: inset;
	border-color: rgba(255, 255, 255, 0.7);
	*/
}

h1 {
	/*
	color: rgba(15, 184, 0, 1);
	*/
	margin: auto;
	display: inline-block;
	width: 70%;
	color: black;
	font-style: italic;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 
				 0 0 1px rgba(15, 184, 0, 0.7), 
				 0 0 10px rgba(235, 164, 0, 0.5);
}

h5 {
	margin: auto;
	width: 30%;
	font-style: italic;
	color: black;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 
				 0 0 1px rgba(15, 184, 0, 0.7), 
				 0 0 5px rgba(235, 164, 0, 0.5);
}

h4 {
	margin: auto;
	padding-top: 2%;
	width: 75%;
	/* font-style: italic; */
	color: black;
	
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
				 /* 0 0 1px rgba(15, 184, 0, 0.7), */
				 0 0 2px rgba(235, 164, 0, 0.7);
			
	
}

button {
	/*color: rgba(15, 184, 0, 0.9);*/
	height: 45px;
	color: black;
	border-style: outset;
	text-shadow: 0 0 2px white, 
				 0 0 1px rgba(15, 184, 0, 0.7), 
				 0 0 5px rgba(235, 164, 0, 0.5);
	box-shadow: 0 0 2px white, 
				 0 0 1px rgba(15, 184, 0, 0.7), 
				 0 0 5px rgba(235, 164, 0, 0.5);
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
}

button:hover {
	color: rgba(235, 164, 0, 0.7);
	text-shadow: 0 0 1px rgba(15, 184, 0, 0.7), 
				 0 0 5px rgba(235, 164, 0, 0.5),
				 0 0 5px black;
	box-shadow: 0 0 2px white, 
				 0 0 1px rgba(15, 184, 0, 0.9), 
				 0 0 5px rgba(235, 164, 0, 0.9);
}

button:active {
	transform: translateY(2px);
}

p {
	margin: auto;
	width: 75%;
	color: rgba(15, 184, 0, 0.8);
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
	font-size: 85%;
}

#result {
	font-size: 125%;
	font-weight: bolder;
	font-style: italic;
	margin: auto;
	width: 75%;
	color: rgba(15, 184, 0, 0.8);
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

#final {
	font-size: 125%;
	font-weight: bolder;
	font-style: italic;
	margin: auto;
	width: 75%;
	color: rgba(15, 184, 0, 0.8);
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

footer {
	font-size: 60%;
	font-style: italic;
	color: rgba(15, 184, 0, 0.4);
}